Source: libvmod-cookie
Section: web
Priority: extra
Maintainer: Lasse Karstensen <lkarsten@varnish-software.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils, libvarnishapi-dev (>= 3)
Standards-Version: 3.8.1
Vcs-Git: https://github.com/lkarsten/libvmod-cookie

Package: libvmod-cookie
Architecture: any
Depends: varnish (>= 3), ${misc:Depends}
Description: varnish vmod for simpler use of the cookie header
